<div class="bg-neutral-100 min-h-screen grid place-items-center">
	<div class="min-w-[1200px] min-h-[500px] bg-white flex rounded-2xl overflow-hidden">
		<div class="basis-3/5 flex flex-col gap-8 justify-center px-20 py-8">
			<h2 class="text-2xl font-bold">
				Please enter your email address and password to access your account
			</h2>
			<form
				class="flex flex-col gap-4 border-b pb-8"
				(submit)="login($event)"
				[formGroup]="loginForm"
			>
				<input id="" type="text" name="" placeholder="email address" formControlName="email" />
				@if (emailErrorMsg) {
					<p class="text-sm text-red-500">- {{ emailErrorMsg }}</p>
				}
				<div class="relative flex items-center my-4">
					<input
						class="w-full absolute"
						#passwordInput
						type="password"
						name=""
						placeholder="password"
						formControlName="password"
					/>
					<button
						type="button"
						class="absolute z-50 text-xs right-8"
						(click)="changePasswordType($event)"
					>
						show
					</button>
				</div>
				@if (passErrorMsg) {
					<p class="text-sm text-red-500">- {{ passErrorMsg }}</p>
				}
				<a class="text-sm text-blue-500 capitalize" href="#">forgot password?</a>
				<button type="submit" class="btn btn-primary">sign in</button>
				@if (credintialsErrMsg) {
					<p class="text-sm text-red-500">- {{ credintialsErrMsg }}</p>
				}
			</form>
      <logo />
		</div>
		<div class="basis-2/5"><img class="size-full" src="assets/images/books.png" alt="" /></div>
	</div>
</div>
