<div class="p-8 space-y-4 h-full">
	<h3 class="book-header">Book details</h3>
	<div class="rounded-lg bg-white p-8 w-full h-full flex justify-between">
		<div class="basis-4/5">
			<div class="flex gap-8 max-w-xl">
				<div class="rounded-lg overflow-hidden max-w-32">
					<img src="assets/images/book-cover.png" alt="" />
				</div>
				<div>
					<h2 class="text-gray-600 text-2xl font-bold">{{ book.title }}</h2>
					<div class="flex justify-center gap-10 mt-10">
						<div>
							<p class="text-2xl text-blue-600 font-bold">{{ book.pages || '200' }}</p>
							<p class="text-sm text-gray-500 font-bold">Pages</p>
						</div>
						<div>
							<p class="text-2xl text-blue-600 font-bold">{{ book.timeToRead || '20h' }}</p>
							<p class="text-sm text-gray-500 font-bold">To read</p>
						</div>
					</div>
				</div>
			</div>
			<div class="flex gap-24 mt-8">
				<div class="text-xs text-gray-500 space-y-4 basis-1/2">
					<p>By {{ book.author }} | {{ book.date | date }}</p>
					<p class="text-blue-700 font-bold">&dollar; {{ book.price }}</p>
					<p></p>
					<p>Version: {{ book.version }}</p>
					<p></p>
					<p class="btn btn-gray bg-gray-200 text-xs text-gray-500">{{ book.category }}</p>
					<p></p>
				</div>
				<div class="space-y-4">
					<h3 class="text-gray-600 text-xl font-bold mt-0">Brief</h3>
					<p class="text-sm text-gray-500">{{ book.brief }}</p>
				</div>
			</div>
		</div>
		<div class="space-x-4 basis-1/5 text-sm">
			<button class="btn btn-danger px-3 py-2">Delete</button>
			<button class="btn btn-primary px-3 py-2" [routerLink]="['/books', ISBN, 'edit']">
				Edit
			</button>
		</div>
	</div>
</div>
